<html>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        </form>
    </div>


    <div>
        <form method="POST">
            <input type="text" name="text" placeholder="Введите задачу">
            <input type="number" name="priority" placeholder="Приоритет">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <button type="submit">Добавить</button>
        </form>
    </div>

    <div>Список</div>
    {{#notes}}
        <div>
            <b>{{id}}</b>
            <b>{{text}}</b>
            <b>{{priority}}</b>
        </div>
    {{/notes}}
</body>
</html>