<html>
<body>
    <div>
        <form action="post">
            <input type="text" name="text" placeholder="Введите задачу">
            <input type="number" name="priority" placeholder="Приоритет">
            <button type="submit">Добавить</button>
        </form>
    </div>

    <div>Список</div>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <b>{{text}}</b>
            <b>{{priority}}</b>
        </div>
    {{/messages}}
</body>
</html>